#
# Copyright (c) 2020, Arm Limited and Contributors. All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
#

# Include packages needed for socument generation
-r docs/requirements.txt

# Include packages needed for nanopb
-r external/nanopb/requirements.txt

# Include packages needed for build test tool
-r tools/b-test/requirements.txt
