#
# Copyright (c) 2020-2022, Arm Limited and Contributors. All rights reserved.
#
# SPDX-License-Identifier: BSD-3-Clause
#

# Python dependencies for building the documentation.

Sphinx==4.5
sphinx-rtd-theme==1.0.0
sphinxcontrib-moderncmakedomain==3.21.4
sphinxcontrib-plantuml==0.23
Jinja2==2.11.3
markupsafe==2.0.1
